*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    overflow: hidden;
}

.container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-player{
    width: 500px;
    padding: 40px;
    background-image: linear-gradient(to left bottom, #ff76c5, #e982d8, #d18ee5);
    text-align: center;
}

.music-player nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .nav{
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgb(102, 1, 1, 0.5);
}

nav .nav:hover{
    color: #f53192;
    border: 1px solid #f53192;
}

.music-player img{
    height: 240px;
    width: 240px;
    border-radius: 50%;
    border: 8px solid #ffff;
    box-shadow: 0 5px 10px rgb(102, 1, 1);
    margin-bottom: 20px;
    transition: 0.5s;

}

.music-player img:hover{
    height: 250px;
    width: 250px;
    border: 8px solid #f53192;
    box-shadow: 0 5px 10px rgb(255, 255, 255);
}

img.play-mode{
    height: 250px;
    width: 250px;
    border: 8px solid #f53192;
    box-shadow: 0 5px 10px rgb(255, 255, 255);
}

.music-player h1, p{
    color: #333;
}

h1{
    font-size: 35px;
    margin-bottom: 5px;
    font-weight: 600;
}

p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

#progress{
    -webkit-appearance: none;
    width: 80%;
    height: 3px;
    border-radius: 4px;
    background-color: #f53192;
    box-shadow: 0 3px 5px rgb(102, 1, 1, 0.3);
    margin: 20px 0 30px;
    cursor: pointer;
    transition: 0.3s all;
}

#progress:hover{
    width: 85%;
    height: 6px;
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.5);
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    background-color: #f53192;
    border: 7px solid #fff;
    border-radius: 50%;
}

.control-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
}

.control-btn div{
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: #f53192;
    background-color: #fff;
    box-shadow: 0 3px 5px rgb(102, 1, 1, 0.5);
    border-radius: 50%;
    margin: 15px;
    /* transition: 0.1s all; */
}

.control-btn div:hover{
    border: 2px solid #f53192;
}

.control-btn div:nth-child(2){
    transform: scale(1.5);
}













